/* 
CSS Guide
1. General Styles
2. Header
3. Responsive Image Method
4. Background Attribute
5. Footer
6. Tablet Queries
7. Desktop Queries
*/

/* ---1. General Styles--- */
body {
    font-family:"Lexend Deca", sans-serif;
}

.black-background {
    background-color: #000;
    padding: 30px;
}

/* ---2. Header--- */
h1 {
    color: #fff;
    text-align: center;
    font-size: 35px;
}

/* ---3. Responsive Image Method--- */
h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
}

/* ---4. Background Attribute--- */

.background-img {
   background-image: url("../images/small_penguin_water.jpg");
   aspect-ratio: 412/200;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

#background p {
    margin-bottom: 30px;
}

/* ---5. Footer--- */
footer p {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}

/* ---6. Tablet Queries--- */
@media screen and (min-width:768px) {
    .background-img {
        background-image: url("../images/medium_penguin_water.jpg");
        aspect-ratio: 768/250;
    }
}

/* ---7. Desktop Queries--- */
@media screen and (min-width:1200px) {
    .background-img {
        background-image: url("../images/large_penguin_water.jpg");
        aspect-ratio: 1200/465;
    }
}